<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    </head>
    <body>
        <h1><center><b>abit Video Token Ownership and Assignment of Advertisement Royalties Agreement</b></center></h1>
            
        <p>This abit Video Token Ownership and Assignment of Advertisement Royalties Agreement (this <b>“Agreement”</b>) 
        for the YouTube video titled {{ .VideoName }} (<b>"Youtube Video"</b>) released on {{ .ReleaseDate }} 
        (<b>"Release Date"</b>) is a legally binding agreement by and between {{ .CreatorName }} 
        (<b>“Artist Entity”</b>), and the purchaser of the video token {{ .OwnerName }} (<b>"Purchaser"</b>). </p>
        
        
        <p>The Purchaser paid an amount of {{ .TokenPrice }} to officially purchase the Token entity, and 
        is therefore entitled to {{ .RevenueShare }} percent of the total advertisement revenue that the 
        Youtube Video will make for perpetuity. </p>
        
        <p>Artist Entity and each Purchaser may be referred to throughout 
        this Agreement collectively as the “Parties” or individually as a “Party”. All capitalized 
        terms used but not defined herein shall have the respective meaning given to them in the abit 
        Website Terms (as defined below). In the event of a conflict between the abit Website Terms and
        this Agreement, this Agreement will control.
        </p>
    </body>
</html>